html/sakura.vrm
vm
node_modules
*.csr
*.crt
*.key
*.pfx
package-lock.json
https1.js
index-server.js
index.html
key.pem
server_crt.pem
server_csr.pem
vm/.vagrant/machines/devlop/virtualbox/action_provision
vm/.vagrant/machines/devlop/virtualbox/action_set_name
vm/.vagrant/machines/devlop/virtualbox/id
vm/.vagrant/machines/devlop/virtualbox/index_uuid
vm/.vagrant/machines/devlop/virtualbox/synced_folders
