:root {
  --object-width: 400px;
}

body {
  background: snow;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 1rem;
}

/* .input-field {
  width: 100%;
  border: 3px;
  padding: 15px;
} */

.card {
  /* width: 100%; */
  max-width: var(--object-width);
  text-align: center;
}

/* .select-wrapper + label {
  margin: 13px;
} */

.adjust-box {
  position: relative;
  width: 100%;
  height: auto;
  background: #eee;
}
.box-1x1:before {
  position: relative;
  content: "";
  display: block;
  padding-top: 100%;
}

#model_preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


div.canvas-container{
  position: absolute !important; 
  top: 0;
  left: 0;
}

#app {
  max-width: var(--object-width);
  margin: 0 auto;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: var(--object-width);
  max-height: var(--object-width);
}

.caret {
  visibility: hidden;
  position: absolute;
}